/*--Main--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: rgb(124, 124, 124);
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -2;
    display: block;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/main.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.max-size {
    max-width: 100%;
}

.buttons-margin {
    margin: 1% !important;
    width: 48% !important;
}

.width-40 {
    width: 40px;
}

.link-hover:hover {
    color: var(--gray)!important;
}

.filter-hover:hover {
    opacity: 0.4;
    transition: 0.4s ease all;
}
.hr-release {
    width: 50%;
    color: var(--gray);
}
/*------*/


/*--Carousel--*/
.carousel-info1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/carousel1.jpg);
    background-size: cover;
}

.carousel-info2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/carousel2.jpg);
    background-size: cover;
}

.carousel-info3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/carousel3.jpg);
    background-size: cover;
}
/*------*/


/*--Shop--*/
.width-180 {
    width: 180px;
    max-width: 100%;
}

.width-300 {
    width: 300px;
    max-width: 100%;
}
/*------*/

/*---Playlist---*/
.playlist-background {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(41, 41, 41) 100%);
}
/*-----*/

/*--Youtube--*/
.yt-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/yt-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);  
}

.yt-logo {
    width: 130px;
}

.stats-img {
    width: 70px;
}

.music-player {
    position: fixed;
    bottom: -5.5px;
    width: 100%;
}
/*------*/

/*---Media Queries---*/
@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .hide-ipad {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .buttons-margin {
        width: 30% !important;
    }
}

/*-------*/